/* Modal.css */
.modal-overlay {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}
.modal-bg {
  background: url("../../public/bg.png");
  animation: moveBackground 50s linear infinite;
  position: absolute;
  background-size: 30%;
  z-index: 5;
  width: 300%;
  height: 100%;
  border-radius: 10px;
}
.modal-content {
  display: flex;
  position: relative;
  z-index: 6;
  height: 100%;
  color: white;
  border-radius: 10px;
  background: linear-gradient(
    rgba(1, 112, 177, 0.616),
    rgba(7, 224, 253, 0.377)
  );
}
.modal-img {
  width: 50%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-img img {
  max-width: 133px;
  max-height: 129px;
}
.modal-info {
  width: 65%;
  margin: 20px;
  align-content: center;
}

.modal-info-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;

  margin: 3px;
}
.modal-title {
  font-size: x-large;
}

.modal-description {
  background: linear-gradient(white, rgb(151, 151, 151));
  color: black;
  height: 10vh;
  width: 100%;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  padding: 10px;
  height: 50%;
  font-size: larger;
}
.modal-description p {
  padding: 5px;
}

.close-button {
  position: absolute;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dark {
  color: black;
}

@keyframes moveBackground {
  from {
    background-position: 0; /* Empieza en la posición inicial */
  }
  to {
    background-position: 100%; /* Mueve el fondo completamente a la derecha y abajo */
  }
}
