.pokeball {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  position: absolute;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokeball.clicked {
  opacity: 0;
}
.pbg {
  width: 85%;
  height: 85%;
  position: absolute;
  border-radius: 50%;
  animation: pokeballimg 1.3s infinite;
  animation-delay: 250ms;
  background-image: url(../../public/pokeball.png);
  background-size: cover;
  box-shadow: inset 0 0 20px rgb(0, 38, 255);
  opacity: 0.5;
}

.pokeball P {
  position: absolute;
  color: white;
  font-size: 250%;
  animation: breathe 1.3s ease-in-out infinite;
  animation-delay: 250ms;
}
.circle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse1,
.pulse2,
.pulse3,
.pulse4 {
  border-radius: 50%;
  position: absolute;

  opacity: 1;
  animation: pulseCycle 1.3s infinite;
}

.pulse1 {
  width: 40%;
  height: 40%;
  border: 2px solid rgb(223, 242, 248);
  animation-delay: 0s;
}

.pulse2 {
  width: 50%;
  height: 50%;
  border: 2px solid rgb(215, 249, 250);
  animation-delay: 100ms;
}

.pulse3 {
  width: 60%;
  height: 60%;
  border: 2px solid rgb(148, 255, 255);
  animation-delay: 150ms;
}

.pulse4 {
  width: 70%;
  height: 70%;
  border: 2px solid rgb(3, 238, 255);
  animation-delay: 200ms;
}

.pulse5 {
  width: 80%;
  height: 80%;
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgb(0, 174, 255);
  background-color: #00bfff28;
  animation: pulse5 1.3s infinite;
  animation-delay: 250ms;
}

@keyframes pulseCycle {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse5 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 0;
    transform: scale(1);
  }
  95% {
    opacity: 0.5;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pokeballimg {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes breathe {
  0% {
    text-shadow: 0 0 2px rgb(0, 191, 255), 0 0 4px rgb(0, 191, 255),
      0 0 6px rgb(0, 191, 255), 0 0 8px rgb(0, 191, 255);
  }
  50% {
    text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 4px rgb(255, 255, 255),
      0 0 6px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
  }
  100% {
    text-shadow: 0 0 2px rgb(0, 191, 255), 0 0 4px rgb(0, 191, 255),
      0 0 6px rgb(0, 191, 255), 0 0 8px rgb(0, 191, 255);
  }
}
