* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pokemon", Courier, monospace;
}
.App {
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(239, 253, 253),
    rgb(13, 219, 255)
  );
}
.apli {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  z-index: 3;
}

.top,
.top img {
  width: 100vw;
}
.pokeball {
  width: 45vw;
  height: auto;
  position: absolute;
  z-index: 4;
  transition: transform 1.1s ease, opacity 1.4s ease;
  animation: spin 10s linear infinite;
  filter: opacity(1) drop-shadow(0px 0px 20px rgb(205, 246, 253));
}

.pokeball.clicked {
  animation: spin-fast 1.1s linear;
  opacity: 0;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.5s ease;
  width: 100vw;
  height: 20vh;
}
.middle.expanded {
  height: 230vh; /* altura cuando se expande */
}
.cards-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  z-index: 1;
  width: 100vw;
  height: auto;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las cards se ajusten en varias filas */
  overflow-y: scroll; /* Habilita el desplazamiento vertical si es necesario */ /* Espaciado interno */
  justify-items: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  background: radial-gradient(
    circle,
    rgba(2, 238, 255, 0.945),
    rgb(1, 204, 255),
    rgb(7, 185, 255)
  );
  border-radius: 5px;
  padding: 6px;
  width: 16%;
  height: 17%;
  color: white;
  padding: 2px;
  font-size: 180%;
}
.card img {
  width: 80%;
}

.top2,
.bottom2 {
  width: 100vw;
  height: auto;
  display: flex;
  position: absolute;
  z-index: 4;
}

.spacer-top,
.spacer-bottom {
  flex: 1; /* Ocupa el espacio disponible entre los elementos */
  background-color: rgb(190, 16, 35); /* Color del espacio */
  height: 100%; /* Ajusta la altura según sea necesario */
}
.bottom {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3;
}
.bottom img {
  width: 100vw;
}

.top,
.bottom {
  filter: opacity(1) drop-shadow(0px 0px 15px rgb(1, 120, 124));
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
