* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pokemon";
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: linear-gradient(
    to bottom right,
    rgb(239, 253, 253),
    rgb(13, 219, 255)
  );
  overflow: hidden;
}

/*Middle*/

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.5s ease;
  width: 100vw;
  height: 20vh;
  z-index: 1;
}
.middle.expanded {
  height: 230vh;
  padding: 2px;
  z-index: 1;
}

/*Cards Container*/

.cards-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  height: 150%;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 50vh 0px;
}

.loading-indicator {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Top y Bottom*/

.top2,
.bottom2 {
  width: 100vw;
  height: auto;
  display: flex;
  position: absolute;
  z-index: 4;
}

.spacer-top,
.spacer-bottom {
  flex: 1; /* Ocupa el espacio disponible entre los elementos */
  background-color: rgb(190, 16, 35);
  height: 100%;
}
.top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  z-index: 3;
}

.top,
.top img {
  width: 100vw;
}
.bottom {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3;
}
.bottom img {
  width: 100vw;
}

.top,
.bottom {
  filter: opacity(1) drop-shadow(0px 0px 15px rgb(1, 120, 124));
}
